<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CookieGram</title>
</head>
<body>

    <h2>Current Promotions</h2>

<ul>
  <li th:each="promo : ${promotions}">
    <strong th:text="${promo.title()}"></strong>
    <span> — </span>
    <span th:text="${promo.description()}"></span>
  </li>
</ul>

<a href="/login">Login</a>

    <h1>🍪 Welcome to CookieGram</h1>
    <p>This is Sprint 1 landing page.</p>

    <a href="/login">Login</a>

</body>
</html>